<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-header text-center">
          <h2 class="fw-bold fs-1">
            
            <span class="b-class-secondary">Admin </span>Dashboard
          </h2>
          <p class="sec-icon"><i class="fa-solid fa-gear"></i></p>
        </div>
      </div>
      <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <h3><button (click)="signup">Create New Account</button></h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quisquam consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-arrows-down-to-people"></i>
            </div>
            <span *ngFor="let u of accounts">
              
              <span>{{u.uname}} {{u.aid}}</span>
              <input type="button" value="delete" (click)="deleteAccount(u.aid)">
             
          </span>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quisquam consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-money-check-dollar"></i>
            </div>
            <h3><button>Search Account</button></h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quisquam consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>