<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container">
  <div >
    <h3 style="text-align:center" colour="">ICIN Bank</h3>
    <p style="text-align:center" colour="">Online Banking</p>
  </div>
</div>
<div class="container">
<nav class="navbar navbar-default">
    <div class="navbar-header">
    </div>
     <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="/SignUp">Register</a></li>
      <li><a href="/Login">Login</a></li>
      <li><a href="/">User </a></li>
    </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
